<mat-grid-list [cols]="2" rowHeight="2:1">
    <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div fxFlex="92%" class="card-container">
            <mat-card>
                <mat-card-header>
                    <div mat-card-avatar class="patient-header-image"></div>
                    <mat-card-title>Paciente</mat-card-title>
                    <mat-card-subtitle>Información de pacientes</mat-card-subtitle>
                    <div class="spinner-container" *ngIf="patientSpinner">
                        <mat-spinner backdropEnabled="true" color="accent" diameter="34"></mat-spinner>
                    </div>
                </mat-card-header>
                <mat-card-content>
                    <form class="example-form">
                        <mat-grid-list [cols]="8">

                            <mat-grid-tile [colspan]="2" [rowspan]="1">
                                <div fxFlex="88%">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>RUN Paciente</mat-label>
                                        <input matInput [(ngModel)]="formData.patient.identifier" name="identifier"
                                            (keyup.enter)="onSearchEvent($event)">
                                        <mat-icon matSuffix>search</mat-icon>
                                    </mat-form-field>
                                </div>
                            </mat-grid-tile>
                            <mat-grid-tile [colspan]="2" [rowspan]="1">
                                <div fxFlex="88%">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Nombres</mat-label>
                                        <input matInput [(ngModel)]="formData.patient.name" name="name" readonly>
                                    </mat-form-field>
                                </div>
                            </mat-grid-tile>
                            <mat-grid-tile [colspan]="2" [rowspan]="1">
                                <div fxFlex="88%">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Apellido paterno</mat-label>
                                        <input matInput [(ngModel)]="formData.patient.familyName" name="familyName"
                                            readonly>
                                    </mat-form-field>
                                </div>
                            </mat-grid-tile>
                            <mat-grid-tile [colspan]="2" [rowspan]="1">
                                <div fxFlex="88%">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Apellido materno</mat-label>
                                        <input matInput [(ngModel)]="formData.patient.secondSurName"
                                            name="secondSurName" readonly>
                                    </mat-form-field>
                                </div>
                            </mat-grid-tile>
                            <mat-grid-tile [colspan]="3" [rowspan]="1">
                                <div fxFlex="88%">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Fecha nacimiento</mat-label>
                                        <input matInput [matDatepicker]="pickerBirthdate" name="birthdate"
                                            [(ngModel)]="formData.patient.birthdate" placeholder="Fecha de nacimiento">
                                        <mat-datepicker-toggle matSuffix [for]="pickerBirthdate">
                                        </mat-datepicker-toggle>
                                        <mat-datepicker #pickerBirthdate startView="multi-year" disabled="false">
                                        </mat-datepicker>
                                    </mat-form-field>
                                </div>
                            </mat-grid-tile>
                            <mat-grid-tile [colspan]="2" [rowspan]="1">
                                <div fxFlex="88%">
                                    <mat-form-field class="full-width">
                                        <mat-label>Edad</mat-label>
                                        <div *ngIf="formData.patient.birthdate; else notData">
                                            <input matInput type="number" name="age"
                                                [value]="getAgeFromBirthdate(formData.patient.birthdate)" readonly>
                                        </div>
                                        <ng-template #notData>
                                            <input matInput type="number" name="age" readonly>
                                        </ng-template>
                                    </mat-form-field>
                                </div>
                            </mat-grid-tile>
                            <mat-grid-tile [colspan]="3" [rowspan]="1">
                                <div fxFlex="88%">
                                    <mat-form-field class="full-width">
                                        <mat-label>Sexo</mat-label>
                                        <mat-select [(ngModel)]="formData.patient.sex"
                                            [ngModelOptions]="{standalone: true}">
                                            <mat-option *ngFor="let data of genders" [value]="data.value">
                                                {{data.viewValue}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </form>
                </mat-card-content>
            </mat-card>
        </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div fxFlex="92%" class="card-container">
            <mat-card>
                <mat-card-header>
                    <mat-card-subtitle>Reportes del paciente:</mat-card-subtitle>
                    <div class="spinner-container" *ngIf="reportsSpinner">
                        <mat-spinner backdropEnabled="true" color="accent" diameter="34"></mat-spinner>
                    </div>
                </mat-card-header>
                <mat-card-content>
                    <mat-nav-list>
                        <mat-list-item matRipple [matRippleColor]="colorRipple" *ngFor="let report of formData.reports"
                            (dblclick)="loadObservations(report.id)">
                            <a matLine>[{{report.id}}] {{ getProfileName(report.code) }} - {{report.issued | date}}</a>
                            <mat-icon mat-list-icon>assignment</mat-icon>
                        </mat-list-item>
                    </mat-nav-list>
                </mat-card-content>
            </mat-card>
        </div>
    </mat-grid-tile>
</mat-grid-list>
<div class="table-result mat-elevation-z8">
    <p id="report-table">Resultados examen:</p>
    <table mat-table [dataSource]="dataSource" matSort aria-describedby="report-table">
        <ng-container matColumnDef="code">
            <th id="obs-name-header" mat-header-cell *matHeaderCellDef mat-sort-header> Cod. Loinc </th>
            <td mat-cell *matCellDef="let obs"> {{obs.coding.code}} </td>
        </ng-container>
        <ng-container matColumnDef="name">
            <th id="obs-value-header" mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
            <td mat-cell *matCellDef="let obs"> {{obs.coding.display}} </td>
        </ng-container>
        <ng-container matColumnDef="result">
            <th id="obs-value-header" mat-header-cell *matHeaderCellDef mat-sort-header> Resultado </th>
            <td mat-cell *matCellDef="let obs"> {{obs.valueQuantity.value}} </td>
        </ng-container>
        <ng-container matColumnDef="unit">
            <th id="obs-value-header" mat-header-cell *matHeaderCellDef mat-sort-header> Unidad </th>
            <td mat-cell *matCellDef="let obs"> {{obs.lowReferenceRange.unit}} </td>
        </ng-container>
        <ng-container matColumnDef="referenceRange">
            <th id="obs-range-header" mat-header-cell *matHeaderCellDef mat-sort-header> Rango de referencia </th>
            <td mat-cell *matCellDef="let obs"> {{obs.lowReferenceRange.value}} - {{obs.highReferenceRange.value}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    <div *ngIf="tableSpinner" style="display: flex; justify-content: center; align-items: center; background: white;">
        <mat-progress-spinner color="primary" mode="indeterminate" diameter="34">
        </mat-progress-spinner>
    </div>
</div>