.example-form {
  width: 100%;
}

.example-full-width {
  width: 100%;
}

md-grid-list {
  height: 100%;
}

.multi-test {
  margin-left: 13px;
  margin-bottom: 13px;
}

.example-button-row {
  margin-right: 22px;
}

table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

.table-result {
  padding: 15px;
  padding-top: 5px;
  border-radius: 5px;
  margin-left: 25px;
  margin-right: 25px;
}

.example-button-row {
  margin-top: 20px;
}

.patient-header-image {
  background-image: url("https://image.flaticon.com/icons/png/512/170/170448.png");
  background-size: cover;
}

.test-header-image {
  background-image: url("https://image.flaticon.com/icons/png/512/1043/1043719.png");
  background-size: cover;
}

.list-container {
  margin-top: 10px;
  max-height: 220px;
  overflow: auto;
}

.card-container {
  max-height: 290px;
  min-height: 280px;
  overflow: auto;
}
