<mat-grid-list [cols]="2" rowHeight="2:1">
  <!-- PACIENTE -->
  <mat-grid-tile [colspan]="1">
    <div fxFlex="92%">
      <mat-card>
        <mat-card-header>
          <div mat-card-avatar class="patient-header-image"></div>
          <mat-card-title>Paciente</mat-card-title>
          <mat-card-subtitle>Información de pacientes</mat-card-subtitle>
          <div class="spinner-container" *ngIf="patientSpinner">
            <mat-spinner backdropEnabled="true" color="accent" diameter="34"></mat-spinner>
          </div>
        </mat-card-header>
        <mat-card-content>
          <form class="example-form">
            <mat-grid-list [cols]="8">
              <mat-grid-tile [colspan]="2" [rowspan]="1">
                <div fxFlex="97">
                  <mat-form-field class="example-full-width">
                    <mat-label>RUN Paciente</mat-label>
                    <input matInput [(ngModel)]="formData.patient.identifier" name="identifier"
                      (keyup.enter)="findPatient($event)">
                    <mat-icon matSuffix>search</mat-icon>
                  </mat-form-field>
                </div>
              </mat-grid-tile>
              <mat-grid-tile [colspan]="2" [rowspan]="1">
                <div fxFlex="90%">
                  <mat-form-field class="example-full-width">
                    <mat-label>Nombres</mat-label>
                    <input matInput [(ngModel)]="formData.patient.name" name="name" readonly>
                  </mat-form-field>
                </div>
              </mat-grid-tile>
              <mat-grid-tile [colspan]="2" [rowspan]="1">
                <div fxFlex="90%">
                  <mat-form-field class="example-full-width">
                    <mat-label>Apellido paterno</mat-label>
                    <input matInput [(ngModel)]="formData.patient.familyName" name="familyName" readonly>
                  </mat-form-field>
                </div>
              </mat-grid-tile>
              <mat-grid-tile [colspan]="2" [rowspan]="1">
                <div fxFlex="90%">
                  <mat-form-field class="example-full-width">
                    <mat-label>Apellido materno</mat-label>
                    <input matInput [(ngModel)]="formData.patient.secondSurName" name="secondSurName" readonly>
                  </mat-form-field>
                </div>
              </mat-grid-tile>
              <mat-grid-tile [colspan]="3" [rowspan]="1">
                <div fxFlex="90%">
                  <mat-form-field class="example-full-width">
                    <mat-label>Fecha nacimiento</mat-label>
                    <input matInput [matDatepicker]="pickerBirthdate" name="birthdate"
                      [(ngModel)]="formData.patient.birthdate" placeholder="Fecha de nacimiento">
                    <mat-error *ngIf="!formData.patient.birthdate">Ingrese fecha de nacimiento</mat-error>
                    <mat-datepicker-toggle matSuffix [for]="pickerBirthdate"></mat-datepicker-toggle>
                    <mat-datepicker #pickerBirthdate startView="multi-year" disabled="false"></mat-datepicker>
                  </mat-form-field>
                </div>
              </mat-grid-tile>
              <mat-grid-tile [colspan]="2" [rowspan]="1">
                <div fxFlex="90%">
                  <mat-form-field class="full-width">
                    <mat-label>Edad</mat-label>
                    <div *ngIf="formData.patient.birthdate; else notData">
                      <input matInput type="number" name="age" [value]="getAgeFromBirthdate(formData.patient.birthdate)"
                        readonly>
                    </div>
                    <ng-template #notData>
                      <input matInput type="number" name="age" readonly>
                    </ng-template>
                  </mat-form-field>
                </div>
              </mat-grid-tile>
              <mat-grid-tile [colspan]="3" [rowspan]="1">
                <div fxFlex="90%">
                  <mat-form-field class="full-width">
                    <mat-label>Sexo</mat-label>
                    <mat-select [(ngModel)]="formData.patient.sex" [ngModelOptions]="{standalone: true}">
                      <mat-option *ngFor="let data of genders" [value]="data.value">
                        {{data.viewValue}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </mat-grid-tile>
            </mat-grid-list>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </mat-grid-tile>
  <!-- EXAMENES -->
  <mat-grid-tile [colspan]="1">
    <div fxFlex="92%">
      <mat-card>
        <mat-card-header>
          <div mat-card-avatar class="test-header-image"></div>
          <mat-card-title>Examen</mat-card-title>
          <mat-card-subtitle>Información de exámenes</mat-card-subtitle>
          <div class="spinner-container" *ngIf="testSpinner">
            <mat-spinner backdropEnabled="true" color="primary" diameter="34"></mat-spinner>
          </div>
        </mat-card-header>
        <mat-card-content>
          <form class="example-form">
            <mat-grid-list [cols]="8">

              <mat-grid-tile [colspan]="2">
                <div fxFlex="88%">
                  <mat-form-field class="example-full-width">
                    <mat-label>RUN Informante</mat-label>
                    <input matInput [(ngModel)]="formData.practitioner.identifier" name="identifier"
                      (keyup.enter)="findPractitioner($event)">
                    <mat-icon matSuffix>search</mat-icon>
                  </mat-form-field>
                </div>
              </mat-grid-tile>
              <mat-grid-tile [colspan]="2">
                <div fxFlex="88%">
                  <mat-form-field class="example-full-width">
                    <mat-label>Nombre</mat-label>
                    <input matInput [(ngModel)]="formData.practitioner.name" name="name" readonly>
                  </mat-form-field>
                </div>
              </mat-grid-tile>
              <mat-grid-tile [colspan]="2">
                <div fxFlex="88%">
                  <mat-form-field class="example-full-width">
                    <mat-label>Apellido paterno</mat-label>
                    <input matInput [(ngModel)]="formData.practitioner.familyName" name="familyName" readonly>
                  </mat-form-field>
                </div>
              </mat-grid-tile>
              <mat-grid-tile [colspan]="2">
                <div fxFlex="88%">
                  <mat-form-field class="example-full-width">
                    <mat-label>Apellido materno</mat-label>
                    <input matInput [(ngModel)]="formData.practitioner.secondSurName" name="secondSurName" readonly>
                  </mat-form-field>
                </div>
              </mat-grid-tile>
              <mat-grid-tile [colspan]="3" [rowspan]="1">
                <div fxFlex="88%">
                  <mat-form-field class="example-full-width">
                    <mat-label>Fecha </mat-label>
                    <input matInput [matDatepicker]="pickerDateTest" name="date" [(ngModel)]="formData.resultsDate"
                      placeholder="Fecha" readonly>
                    <mat-datepicker-toggle matSuffix [for]="pickerDateTest"></mat-datepicker-toggle>
                    <mat-datepicker #pickerDateTest startView="multi-year" disabled="false"></mat-datepicker>
                  </mat-form-field>
                </div>
              </mat-grid-tile>
              <mat-grid-tile [colspan]="2" [rowspan]="1">
                <div fxFlex="88%">
                  <mat-form-field class="full-width">
                    <mat-label>Examen</mat-label>
                    <mat-select [(ngModel)]="formData.profile.code" (selectionChange)="onProfileChange($event)"
                      [ngModelOptions]="{standalone: true}" [disabled]="testAction">
                      <mat-option *ngFor="let data of testProfiles" [value]="data.code">
                        {{data.display}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </mat-grid-tile>
              <mat-grid-tile [colspan]="2" [rowspan]="1">
                <div fxFlex="88%">
                  <mat-form-field class="full-width">
                    <mat-label>Muestra</mat-label>
                    <mat-select [(ngModel)]="formData.selectedSpecimenId" [ngModelOptions]="{standalone: true}"
                      [disabled]="testAction">
                      <mat-option *ngFor="let sample of formData.patientSpecimens" [value]="sample.id">
                        {{sample.id}} - [{{sample.code}}] {{sample.name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </mat-grid-tile>
              <mat-grid-tile [colspan]="1" [rowspan]="1">
                <div fxFlex="90%">
                  <div class="example-button-container">
                    <button (click)="openDialog()" mat-mini-fab color="accent" [disabled]="testAction" align="end">
                      <mat-icon>add</mat-icon>
                    </button>
                  </div>
                </div>
              </mat-grid-tile>
            </mat-grid-list>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </mat-grid-tile>
</mat-grid-list>
<!-- TABLA -->
<div *ngIf="testTable">
  <div class="table-result mat-elevation-z8">
    <p id="results-table">Resultados examen:</p>
    <table aria-describedby="results-table" mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="code">
        <th id="obs-name-header" mat-header-cell *matHeaderCellDef mat-sort-header> Cod. Loinc </th>
        <td mat-cell *matCellDef="let obs"> {{obs.coding.code}} </td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th id="obs-value-header" mat-header-cell *matHeaderCellDef mat-sort-header> Parámetro </th>
        <td mat-cell *matCellDef="let obs"> {{obs.coding.display}} </td>
      </ng-container>
      <ng-container matColumnDef="result">
        <th id="obs-unit-header" mat-header-cell *matHeaderCellDef mat-sort-header> Resultados </th>
        <td mat-cell *matCellDef="let obs">
          <mat-form-field>
            <input matInput [(ngModel)]="obs.valueQuantity.value" name="result">
          </mat-form-field>
        </td>
      </ng-container>
      <ng-container matColumnDef="unit">
        <th id="obs-value-header" mat-header-cell *matHeaderCellDef mat-sort-header> Unidad </th>
        <td mat-cell *matCellDef="let obs"> {{obs.valueQuantity.unit}} </td>
      </ng-container>
      <ng-container matColumnDef="referenceRange">
        <th id="obs-range-header" mat-header-cell *matHeaderCellDef mat-sort-header> Rango de referencia </th>
        <td mat-cell *matCellDef="let obs"> {{obs.lowReferenceRange.value}} - {{obs.highReferenceRange.value}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <div *ngIf="tableSpinner" style="display: flex; justify-content: center; align-items: center; background: white;">
      <mat-progress-spinner color="primary" mode="indeterminate">
      </mat-progress-spinner>
    </div>
  </div>
</div>

<mat-dialog-actions align="end">
  <div class="example-button-row">
    <button mat-raised-button class="multi-test" (click)="cleanForm()">CANCELAR</button>
    <button mat-raised-button class="multi-test" (click)="submit()" color="primary"
      [disabled]="!testTable">ENVIAR</button>
  </div>
</mat-dialog-actions>