<h2 mat-dialog-title>{{title}}</h2>
<mat-dialog-content class="mat-typography">
    <div class="spinner-container" *ngIf="dialogSpinner">
        <mat-spinner backdropEnabled="true" color="accent" diameter="34"></mat-spinner>
    </div>
    <mat-grid-list [cols]="6" >
        <mat-grid-tile [colspan]="3" [rowspan]="1">
            <div fxFlex="90%">
                <mat-form-field class="example-full-width">
                    <mat-label>Muestra</mat-label>
                    <mat-select [(ngModel)]="formData.specimen.code" [ngModelOptions]="{standalone: true}" required>
                        <mat-option *ngFor="let data of specimensData" [value]="data.code">
                            {{data.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="3" [rowspan]="1">
            <div fxFlex="90%">
                <mat-form-field class="example-full-width">
                    <mat-label>RUN Recolector</mat-label>
                    <input matInput [(ngModel)]="formData.practitioner.identifier" name="identifier" (keyup.enter)="findPractitioner($event)">
                    <mat-icon matSuffix>search</mat-icon>
                </mat-form-field>
            </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="2" [rowspan]="1">
            <div fxFlex="90%">
                <mat-form-field class="example-full-width">
                    <mat-label>Nombre</mat-label>
                    <input matInput [(ngModel)]="formData.practitioner.name" name="name" readonly>
                </mat-form-field>
            </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="2" [rowspan]="1">
            <div fxFlex="90%">
                <mat-form-field class="example-full-width">
                    <mat-label>Apellido paterno</mat-label>
                    <input matInput [(ngModel)]="formData.practitioner.familyName" name="familyName" readonly>
                </mat-form-field>
            </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="2" [rowspan]="1">
            <div fxFlex="90%">
                <mat-form-field class="example-full-width">
                    <mat-label>Apellido materno</mat-label>
                    <input matInput [(ngModel)]="formData.practitioner.secondSurName" name="secondSurName" readonly>
                </mat-form-field>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>CANCELAR</button>
    <!-- <button mat-raised-button [mat-dialog-close]="true" color="primary" (click)="createSample()" cdkFocusInitial>{{buttonTitle}}</button> -->
    <!-- <button mat-raised-button color="primary" (click)="createSample()" cdkFocusInitial>{{buttonTitle}}</button> -->
    <button mat-raised-button color="primary" (click)="createSample()">{{buttonTitle}}</button>
</mat-dialog-actions>