table {
    width: 100%;
}

th.mat-sort-header-sorted {
    color: black;
}

.table-result {
    padding: 15px;
    padding-top: 5px;
    border-radius: 5px;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 40px;
}