<div class="navbar-container" [class.example-is-mobile]="mobileQuery.matches">

  <!-- Top navbar -->
  <mat-toolbar class="navbar" color="primary">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <a class="navbar-brand" [routerLink]="['/']" matTooltip="Home">
      <h1>
        II CENS Tech Connect - Track: Informe Diagn&oacute;stico
      </h1>
    </a>
    <span class="navbar-spacer"></span>
  </mat-toolbar>

  <mat-sidenav-container class="navbar-sidenav-container">
    <!-- Side nav -->
    <mat-sidenav #snav [opened]="!mobileQuery.matches" [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches" fixedTopGap="56" class="sidenav">

      <mat-nav-list>
        <h3 mat-subheader>Inicio</h3>
        <a mat-list-item [routerLink]="['/results']" routerLinkActive="active">
          <mat-icon mat-list-icon>
            business
          </mat-icon>
          <p mat-line>Resultados</p>
        </a>
        <a mat-list-item [routerLink]="['/reports']" routerLinkActive="active">
          <mat-icon mat-list-icon>
            assignment
          </mat-icon>
          <p mat-line>Reportes</p>
        </a>
        <a mat-list-item [routerLink]="['/patients']" routerLinkActive="active">
          <mat-icon mat-list-icon>
            people
          </mat-icon>
          <p mat-line>Pacientes</p>
        </a>

        <a id="push-bottom" mat-list-item [routerLink]="['/about']" routerLinkActive="active">
          <mat-icon mat-list-icon>
            info_outline
          </mat-icon>
          <p mat-line>Acerca de</p>
        </a>
      </mat-nav-list>

    </mat-sidenav>

    <!-- Main content -->
    <mat-sidenav-content class="sidenav-content">

      <div class="progress-bar-container">
        <mat-progress-bar color="accent" mode="indeterminate" *ngIf="spinnerService.visibility | async">
        </mat-progress-bar>
        <mat-spinner class="spinner" [diameter]="50" *ngIf="showSpinner"></mat-spinner>
      </div>


      <router-outlet></router-outlet>

    </mat-sidenav-content>
  </mat-sidenav-container>

</div>