<div class="container" fxLayout="row" fxLayoutAlign="center none">
  <div fxFlex="95%">

    <mat-card>
      <mat-card-content>
        <h2>Acerca de</h2>

        <p>
          Aplicación construida para el II
          <a rel="noreferrer noopener" aria-label="CENS Tech Connect Challenge (opens in a new tab)"
            href="https://www.techconnect.cl/" target="_blank">CENS Tech Connect Challenge</a> Para demostrar el uso de
          HL7 FHIR en casos de interoperabilidad bajo el track Informe
        </p>

        <p>
          Desarrollado por <a rel="noreferrer noopener" href="https://mnd.cl" target="_blank">Merge &amp; Deploy</a>
        </p>


      </mat-card-content>
    </mat-card>

  </div>
</div>